<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373644372568-5sulft6kq4mr1slihprft2r0snkgikav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373644372568-5sulft6kq4mr1slihprft2r0snkgikav</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>373644372568-651i9h7cr5ho7elss7diqdilfr5b7fd5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1DVLccjFg6InCicP3DuO-8HfzJkc-hxo</string>
	<key>GCM_SENDER_ID</key>
	<string>373644372568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dynamicDelivery</string>
	<key>PROJECT_ID</key>
	<string>dynamic-courier</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamic-courier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373644372568:ios:d30e1b26bf6cba6c44b82d</string>
</dict>
</plist>